body {
            display: table;
            
          margin: auto;
          margin-left:auto;
          margin-right: :auto;
        
          background-color: black;
            color: white;
          }
          .mytitle {
            color: yellow;
          }
          .small-font {
            font-size: 100px;
          }
          /* CSS에 이 부분을 추가하면 완성! */
* {
  font-family: 'Stylish', sans-serif;
}
/*  *은 모두에게 적용기능  */
